.code {
	display: block;
	width: 100%;
	font-family: Consolas, monospace;
	padding: 10px;
	box-sizing: border-box;
}

.replace-codes {
	display: flex;
}

.replace-code {
	width: 50%;
}

nav ul {
	display: flex;
	gap: 3em;
}

nav li {
	display: inline-block;
}

body {
	margin: 0;
}

h1 {
	margin: 0;
}

header {
	background-color: #333;
	color: #fff;
}

footer {
	margin-top: 3em;
}

a {
	text-decoration: none;
}

._active {
	text-decoration: underline;
}
